:root {
  --white: #fff;
  --light-purple: #d0d6f9;
  --light-black: #0b0d17;
}

.nav-atributes {
  display: flex;
  flex-direction: row;
  margin-left: 55px;
  width: 1385px;
  height: 96px;
}

#atributes-shared-logo {
  width: 48px;
  height: 48px;
  margin-top: 64px;
}

#only-for-tablet {
  display: block;
}

#rectangle-atributes {
  width: 473px;
  height: 1px;
  opacity: 0.2515;
  background: var(--white);
  /* justify-content: center;
  align-items: center; */
  margin-top: 88px;
  margin-left: 64px;
  position: relative;
  overflow: visible;
}

body {
  background-image: url("/assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--light-black);
  width: 1440px;
  height: 1000px;
  margin: 0;
}

#atributes-nav-links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 830px;
  height: 96px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.774227142333984px);
  margin-top: 40px;
  /* margin-left: -25px; */
  overflow: hidden;
}

.mobile-nav-toggle {
  display: none;
}

#margin-left-first-link {
  display: flex;
  align-items: center;
  margin-left: 103px;
  letter-spacing: 2.7px;
  line-height: normal;
  height: 19px;
  width: 70px;
  text-decoration: none;
  color: var(--white);
  gap: 14px;
  text-transform: uppercase;
  border: none;
}

#delete-in-tablet {
  text-decoration: none;
  border: none;
}

.margin-right-lis b :hover {
  border: none;
  text-decoration: none;
}

/* ul :active {
  border-bottom: 3px solid #fff;
} */

#margin-second-link {
  display: flex;
  width: 130px;
  height: 19px;
  align-items: center;
  gap: 14px;
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.7px;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  border: none;
}

#delete-in-tablet {
  border: none;
}

#margin-third-link {
  display: flex;
  height: 19px;
  width: 71px;
  align-items: center;
  gap: 14px;
  font-size: 1em;
  color: var(--white);
  font-style: normal;
  text-decoration: none;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  border: none;
}

#margin-fourth-link {
  display: flex;
  height: 19px;
  align-items: center;
  gap: 14px;
  font-size: 1em;
  font-style: normal;
  color: var(--white);
  text-decoration: none;
  letter-spacing: 2.7px;
  width: 127px;
  text-transform: uppercase;
  border: none;
}

.margin-right-lis{
  margin-right: 70px;
  list-style: none;
  margin-top: 39px;
  border: none;
  text-decoration: none;
  /* font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
  color: #fff; */ 
}

/* Atributes - left div from first page */

.first-page-div-separations {
  display: flex;
  flex-direction: row;
}

.atributes-left-div-fpage {
  margin-top: 250px;
  margin-left: 165.5px;
  width: 450px;
  height: 382px;
}

#h4-fpage {
  color: var(--light-purple);
  font-size: 1.75em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.725px;
  margin-bottom: 0;
  width: 550px;
}

#h1-fpage {
  color: var(--white);
  font-size: 150px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 24px;
  margin-bottom: 24px;
}

#pleft-fpage {
  width: 444px;
  color: var(--light-purple);
  font-size: 1.13em;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

#atributes-explore {
  width: 274px;
  height: 274px;
  border-radius: 274px;
  background-color: var(--white);
  margin-top: 359px;
  margin-left: 391px;
  margin-right: 165px;
  margin-bottom: 131px;
}

#span-in-explore {
  color: var(--light-black);
  font-size: 2em;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 118px 62px 118px 64px;
}

ul :hover {
  border-bottom: 3px solid #fff;
}

@media screen and (max-width: 992px) {
 
  body {
    background-image: url("/assets/home/background-home-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--light-black);
    width: 768px;
    height: 1024px;
    margin: 0;
  }

  #margin-third-link {
    width: 50px;
  }

  .nav-atributes {
    display: flex;
    flex-direction: row;
    max-width: 768px;
    justify-content: space-between;
  }

  #atributes-nav-links {
    width: 450px;
    height: 96px;
    margin-left: 0;
  }

  .first-page-div-separations {
    width: 768px;
  }

  #rectangle-atributes {
    display: none;
  }
  
  #margin-left-first-link {
    margin-left: 0px;
    width: 50px;
  }

  .margin-right-lis {
    text-transform: uppercase;
    margin-right: 17px;
  }

  #delete-in-tablet {
    display: none;
  }

  .first-page-div-separations {
    display: flex;
    flex-direction: column;
  }

  .atributes-left-div-fpage {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 116px;
    text-align: center;
    width: 100vw;
    height: 380px;
    margin-left: 0;
  }

  #h4-fpage {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    /* width: auto; */
    margin: auto;
  }

  #h1-fpage {
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  #pleft-fpage {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 474px;
  }

  #only-for-tablet {
    width: 100vw;
    justify-content: center;
    display: flex;
  }

  #atributes-explore {
    width: 242px;
    height: 242px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 60px;
  }
}

@media screen and (max-width: 768px){
  body {
    background-image: url("/assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--light-black);
    width: 375px;
    height: 100vh;
    margin: 0;
  }

  #atributes-shared-logo {
    margin-top: 44px;
  }

  .nav-atributes {
    width: 375px;
  }

  #atributes-nav-links {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    background-color: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(1rem);
    margin: 0px;
    height: 100vh;
    transform: translateX(100%);
  }

  #atributes-nav-links[data-visible="true"] {
    transform: translateX(0%);
  }

  #margin-left-first-link {
    margin-left: 0px;
  }

  #only-for-tablet {
    display: flex;
    justify-content: center;
  }

  .delete-in-tablet {
    display: block;
  }

  .mobile-nav-toggle {
    position: absolute;
    z-index: 9999;
    background: url("/assets/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    width: 24px;
    height: 21px;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    display: block;
  }

  .first-page-div-separations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }

  .atributes-left-div-fpage {
    width: 327px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    margin-left: 0;
    margin-top: 25px;
  }

  #h4-fpage {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    width: 350px;
    margin-top: 0;
    margin-bottom: 0px;
  }

  #h1-fpage {
    font-size: 80px;
    line-height: 100px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  #pleft-fpage {
    margin: 0;
    font-size: 15px;
    /* text-align: center; */
    line-height: 25px;
    width: 327px;
    font-weight: 400;
    font-family: sans-serif;
    margin-top: 0;
  }

  #atributes-explore {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 14px;
  }

  #span-in-explore {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}